<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinelei.numbfish.authorization.mapper.PermissionMapper">

    <select id="selectMaxSortValue" resultType="int">
    select IFNULL(MAX(sort_value), 0)
        from permission
        where 1 = 1
        <if test="parentId!= null and parentId > 0">
            and parent_id = #{parentId}
        </if>
    </select>

    <select id="getPermissionTreeByIds" resultType="com.jinelei.numbfish.authorization.entity.PermissionEntity">
    WITH RECURSIVE permission_tree AS (
                    SELECT
                        id,
                        name,
                        code,
                        sort_value,
                        parent_id,
                        0 AS level,
                        CAST(id AS CHAR(1023)) AS ancestor
                    FROM
                        permission
                    WHERE
                        parent_id is null
                    UNION ALL
                    SELECT
                        p.id,
                        p.name,
                        p.code,
                        p.sort_value,
                        p.parent_id,
                        pt.level + 1,
                        CONCAT(pt.ancestor, ',', CAST(p.id AS CHAR(1023)))
                    FROM
                        permission p
                    JOIN
                        permission_tree pt ON p.parent_id = pt.id
                )
                SELECT
                    id,
                    name,
                    code,
                    sort_value,
                    parent_id,
                    level,
                    ancestor
                FROM
                    permission_tree
                <if test="ids!= null and ids.size() > 0">
                WHERE
                <choose>
                    <when test="mode == @com.jinelei.numbfish.authorization.enumeration.TreeBuildMode@ALL">
                        <foreach item="id" collection="ids" separator="or" >
                    ancestor LIKE CONCAT('%', #{id}, '%')
                        </foreach>
                    </when>
                    <when test="mode == @com.jinelei.numbfish.authorization.enumeration.TreeBuildMode@PARENT">
                        <foreach item="id" collection="ids" separator="or" >
                    ancestor LIKE CONCAT('%', #{id}) AND id != #{id}
                        </foreach>
                    </when>
                    <when test="mode == @com.jinelei.numbfish.authorization.enumeration.TreeBuildMode@PARENT_AND_CURRENT">
                        <foreach item="id" collection="ids" separator="or" >
                    ancestor LIKE CONCAT('%', #{id})
                        </foreach>
                    </when>
                    <when test="mode == @com.jinelei.numbfish.authorization.enumeration.TreeBuildMode@CHILD">
                        <foreach item="id" collection="ids" separator="or" >
                    ancestor LIKE CONCAT('%', #{id}, ',%')
                        </foreach>
                    </when>
                    <when test="mode == @com.jinelei.numbfish.authorization.enumeration.TreeBuildMode@CHILD_AND_CURRENT">
                        <foreach item="id" collection="ids" separator="or" >
                    ancestor LIKE CONCAT('%', #{id}, '%')
                        </foreach>
                    </when>
                    <otherwise>
                        <foreach item="id" collection="ids" separator="or" >
                    ancestor LIKE CONCAT('%', #{id}, '%')
                        </foreach>
                    </otherwise>
                </choose>
                </if>
                ORDER BY
                    level, sort_value;
    </select>

</mapper>
