<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinelei.iotgenius.auth.client.mapper.PermissionMapper">

    <select id="getPermissionTreeByIds" resultType="com.jinelei.iotgenius.auth.client.domain.PermissionEntity">
        <choose>
            <when test="ids != null and ids.size() > 0">
                WITH RECURSIVE permission_tree AS (
                    SELECT
                        id,
                        name,
                        code,
                        sort_value,
                        parent_id,
                        0 AS level
                    FROM
                        permission
                    WHERE
                        id IN
                        <foreach item="id" collection="ids" open="(" separator="," close=")">
                            #{id}
                        </foreach>
                    UNION ALL
                    SELECT
                        p.id,
                        p.name,
                        p.code,
                        p.sort_value,
                        p.parent_id,
                        pt.level + 1
                    FROM
                        permission p
                    JOIN
                        permission_tree pt ON p.parent_id = pt.id
                )
                SELECT
                    id,
                    name,
                    code,
                    sort_value,
                    parent_id
                FROM
                    permission_tree
                ORDER BY
                    level, sort_value;
            </when>
            <otherwise>
                WITH RECURSIVE permission_tree AS (
                    SELECT
                        id,
                        name,
                        code,
                        sort_value,
                        parent_id,
                        0 AS level
                    FROM
                        permission
                    WHERE
                        parent_id IS NULL OR parent_id = 0
                    UNION ALL
                    SELECT
                        p.id,
                        p.name,
                        p.code,
                        p.sort_value,
                        p.parent_id,
                        pt.level + 1
                    FROM
                        permission p
                    JOIN
                        permission_tree pt ON p.parent_id = pt.id
                )
                SELECT
                    id,
                    name,
                    code,
                    sort_value,
                    parent_id
                FROM
                    permission_tree
                ORDER BY
                    level, sort_value;
            </otherwise>
        </choose>
    </select>


</mapper>
